/*Configurações globais*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
.about-grid{
    display: grid !important;
    grid-template-columns: 40% 60%;
}
.products-grid{
    display: grid !important;
    grid-template-columns: repeat(4, 24.75%);
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
section h2{
    margin-bottom: 20px;
    color: #5ab464e6;
    font-family: 'Bungee', cursive;
    font-weight: normal;
}
/*Cabeçalho*/
header{
    background-color: #5ab464e6;
    margin-bottom: 30px;
}
header h1{
    font-family: 'Bungee', cursive;
    font-weight: normal;
    font-style: italic;
    color: #fff;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style: none;
    display: inline;
    padding: 20px 0px 0px 20px;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
header ul li a:hover{
    text-decoration: underline;
}
/*Seção sobre*/
#about img{
    width: 300px;
    height: 300px;
    margin-right: 30px;
}
#about h2{
    border-bottom: 3px solid #5ab46433;
}
#about .container{
    display: flex;
}
#about .container p{
    text-align: justify;
    text-indent: 40px;
}
/*Seção dos produtos*/
#products-section{  
    margin-top: 30px;
}
#products-section img{
    width: 100px;
    height: 100px;
}
#products-section h2{
    border-bottom: 3px solid #5ab46433;
}
#products-section .container{
    display: flex;
    margin-bottom: 20px ;
}
.products{
    text-align: center;
}
.products span{
    font-family: 'Roboto', cursive;
    font-weight: bold;
    color: #5ab464e6;
    margin-bottom: 10px;
}
.products p{
    margin: 10px 15px;
    font-size: 14px;
}
.products button{
    background-color: #5ab464e6;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 16px 8px;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
}
.products button:hover{
    background-color: #008000cc;
    transition: ease-in-out .5s;
}
/*Rodapé*/
footer{
    background-color: #5ab464e6;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}
/*Para larguras até 640px (Mobile)*/
@media screen and (max-width: 640px){
    .container{
        max-width: 640px;
        width: 100%;
    }
    body p{
        font-size: 20px;
    }
    header .container, #about .container, #products-section .container{
        display: block !important;
        flex-direction: column;
        text-align: center;
    }
    header .container ul{
        padding-bottom: 20px;
    }
    section h2{
        font-size: 28px;
        text-align: center;
    }   
    #about img{
        margin-right: 0;
    }
    #about .container div{
        margin: 0px 20px 0px 20px;
    }
    .products{
        margin-top: 50px;
    }
    .products h3{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .products p{
        margin-bottom: 10px;
        
    }
    .products button{
        background-color: #5ab464e6;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 16px 8px;
        font-style: italic;
        font-weight: 600;
        cursor: pointer;
    }
}
/*Para larguras acima de 641px e abaixo de 1023px (Tablets)*/
@media screen and (min-width: 641px) and (max-width: 1023px){
    header .container{
        display: flex;
        justify-content: space-around;
    }
    section h2{
        text-align: center;
    }
    #about img{
        width: 600px;
        height: 400px;
    }
    #about .container{
        display: block !important;
        flex-direction: column;
        text-align: center;
    }
    #about .container p{
        text-align: justify;
        text-indent: 40px;
        margin: 0 30px 0px 30px;
    }
    #products-section{
        flex-direction: column;
        padding: 20px;
    }
    .products{
        margin: 20px 0px 20px 0px;
    }
    .products-grid{
        grid-template-columns: repeat(2, 49%);
    }
}